@use "../../../assets/sass/_colors"
@use "../../../assets/sass/_sizes"
@import "../../../assets/sass/_main"

.tag-selector
  width: 100%
  > .container
    width: 100%
    position: relative
    background-color: colors.$white
    padding: sizes.$padding-hug 1rem
    border-radius: 1rem / 50%
    min-height: toRem(41)
    display: flex
    align-items: center
    > .selected-tags
      display: flex
      flex-direction: row
      align-items: center
      overflow: hidden
      gap: sizes.$padding-comfortable
      > span:not(.placeholder)
        padding: sizes.$padding-hug sizes.$padding-comfortable
        background: colors.$primary
        color: colors.$text-light
        border-radius: sizes.$radius-lean
      > .placeholder
        color: colors.$text-disabled
    &.expanded
      border-radius: sizes.$radius-dad-bod sizes.$radius-dad-bod 0 0
    .dropdown-content
      border-top: 1px solid colors.$background-light
      user-select: none
      transform-origin: 50% 0
      display: flex
      flex-direction: column
      width: 100%
      background-color: colors.$white
      color: colors.$text-dark
      left: 0
      z-index: 100
      top: 100%
      position: absolute
      border-radius: 0 0 sizes.$radius-dad-bod sizes.$radius-dad-bod
      > .selected
        background-color: colors.$success-light
      > div
        padding: sizes.$padding-comfortable
        &:hover
          background-color: colors.$primary-light
          cursor: pointer
        &:last-child
          border-radius: 0 0 sizes.$radius-dad-bod sizes.$radius-dad-bod
