@use "../../../assets/sass/colors"
@use "../../../assets/sass/sizes"
@use "../../../assets/sass/shadows"
@import "../../../assets/sass/main"

.circle-image
  border-radius: 50%
  height: toRem(250)
  width: toRem(250)
  object-fit: cover
  border: 3px solid colors.$white
