@use '../../assets/sass/_colors'
@use '../../assets/sass/_sizes'
@import "../../assets/sass/_main"

body
  background-color: colors.$background-light
  color: colors.$text-dark

.body
  padding: sizes.$padding-social-distance
*
  box-sizing: border-box
