@use "../../assets/sass/colors"
@use "../../assets/sass/_sizes"
@use "../../assets/sass/_shadows"
@import "../../assets/sass/_main"

.wish-card
  display: flex
  flex-direction: column
  align-items: center
  gap: toRem(10)
  padding: sizes.$padding-social-distance
  border-radius: toRem(20)
  @include colors.card-color
  > .unique-code
    cursor: pointer
    border-radius: 0.5rem / 50%
    padding: 0.5rem
    display: flex
    align-items: center
    &:active
      background: rgba(0, 0, 0, 0.3)
    > svg
      margin-left: toRem(6)
      width: sizes.$icon-default
      height: sizes.$icon-default
