@use "../../assets/sass/colors"
@use "../../assets/sass/sizes"
@use "../../assets/sass/shadows"
@import "../../assets/sass/main"

.wish-card
  max-width: 70%
  display: flex
  flex-direction: column
  align-items: center
  gap: toRem(10)
  margin: auto
  padding: toRem(40)
  border-radius: toRem(20)
  @include colors.card-color
