@use "../../assets/sass/colors"
@use "../../assets/sass/sizes"
@use "../../assets/sass/shadows"
@import "../../assets/sass/main"

.wish-card
  display: flex
  flex-direction: column
  align-items: center
  gap: toRem(10)
  margin: auto
  padding: sizes.$padding-social-distance
  border-radius: toRem(20)
  @include colors.card-color

@media only screen and (min-width: 600px)
  .wish-card
    max-width: 70%

@media only screen and (min-width: 768px)
  .wish-card
    max-width: 60%

@media only screen and (min-width: 992px)
  .wish-card
    max-width: 50%
