@use "../assets/sass/colors"
@use "../assets/sass/sizes"

$button-size: calc(sizes.$icon-default + sizes.$padding-comfortable * 2)

.page-content
  background: colors.$white
  padding: sizes.$padding-social-distance
  .row
    display: flex
    align-items: center
    padding: sizes.$padding-social-distance
    gap: sizes.$padding-social-distance
    @include colors.card-color
  table>tbody>tr>td>button
    width: $button-size
    height: $button-size
    border-radius: 50%
  svg
    width: sizes.$icon-default
    height: sizes.$icon-default

.loading-wish
  width: auto
  background: white
  align-items: center
  display: flex
  flex-direction: column
  padding: sizes.$padding-social-distance

@media only screen and (max-width: 1000px)
  .page-content
    .row
      flex-direction: column
      text-align: center
      table
        margin: auto

