@use '../../assets/sass/colors'
@use '../../assets/sass/sizes'
@use '../../assets/sass/shadows'
@import "../../assets/sass/main"

.open-wish-modal
  @include shadows.shadow(5px)
  padding: sizes.$padding-social-distance
  background: colors.$background-light
  display: flex
  flex-direction: column
  text-align: center
  gap: sizes.$padding-comfortable
