@use "../../../assets/sass/colors"
@use "../../../assets/sass/sizes"
@use "../../../assets/sass/shadows"
@import "../../../assets/sass/main"

.text-input
  width: 100%
  background-color: colors.$white
  padding: sizes.$padding-comfortable 1rem
  border-radius: 1rem / 50%
  border: 1px solid colors.$primary-light
  &:focus
    border: 1px solid colors.$primary-dark
